.App {
  justify-content: center;
  align-items: center;
  text-align: center;
 background-image: url("./background.jpg");
  height:500px;
  
}
.Wrapper{
  
  justify-content: center;
  align-items: center;
  justify-items: center;
  background:whitesmoke;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 40%;
  margin-left: -50px;
  padding-top: 100px;
  background-image: url("./form.jpg");
  font-weight: bold;
font-style: italic;  
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .Wrapper .p{
    white-space:pre-line;
    text-align: center;
  }
  .Wrapper .Style{
    text-align: center;
  }

